@page "/consultaClientes"

@inject ClientesBLL ClientesBLL

<PageTitle>Consulta de Clientes</PageTitle>

<h1>Consulta de Clientes</h1>

<div>
	<a href="/registroClientes"><i>Agregar Cliente</i> </a>
</div>
<hr/>

<body>
	<table class="table">
		<thead>
			<tr bgcolor = "skyblue">
				<th >Id cliente</th>
				<th>Nombre</th>
				<th>Telefono</th>
                <th>Celular</th>
                <th>RNC</th>
                <th>Email</th>
                <th>Direccion</th>
				<th>Modificar</th>
			</tr>
		</thead>

		<tbody>
			@foreach(var cliente in clientes)
			{
			<tr bgcolor = "lightgray">
				<td>@cliente.ClienteId</td>
				<td>@cliente.Nombre</td>
				<td>@cliente.Telefono</td>
				<td>@cliente.Celular</td>
                <td>@cliente.Rnc</td>
                <td>@cliente.Email</td>
                <td>@cliente.Direccion</td>
				<td><a href="/editarClientes/@cliente.ClienteId"> <i>Editar</i> </a> </td>
			</tr>
			}
		</tbody>
	</table>
	</body>

@code{
    public List<Clientes> clientes { get; set; } = new List<ClientesRJRL.Models.Clientes>();
    public Clientes cliente {get; set;} = new ClientesRJRL.Models.Clientes();

	protected override void OnInitialized()
	{
        clientes = ClientesBLL.GetClientes(c => true);
	}
}