@page "/registroClientes"

@inject ClientesBLL ClientesBLL
@inject NavigationManager NavigationManager

<PageTitle>Registro de Clientes</PageTitle>

<h1>Registro de Clientes</h1>

@if (!string.IsNullOrWhiteSpace(Mensaje))
{
    <div class="alert alert-danger">@Mensaje</div>
}

<body>
    <EditForm model = "Clientes" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />

        <div class ="container">
            <div class ="card-header">
                <h4>Registro</h4>
            </div>
            <div class="card-body">
                <label>ID:</label>
                <div class="input-group mb-3">
                    <InputNumber size="3" @bind-Value="clientes.ClienteId" class="form-control" aria-describedby="BotonBuscarId" placeholder="ID"/>
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button" id="BotonBuscarId"><i class="oi oi-magnifying-glass" /> </button>
                </div>

                <div>
                    <label>Nombre:</label>
                    <div class="input-group mb-3">
                       <InputText  @bind-Value="clientes.Nombre" class="form-control" aria-describedby="NombreCliente" placeholder="Nombre" />
                        <ValidationMessage For="@(() =>clientes.Nombre)" />
                    </div>
                </div>

                <div>
                    <label>Teléfono:</label>
                    <div class="input-group mb-3">
                        <InputText type ="tel" @bind-Value="clientes.Telefono" class="form-control" aria-describedby="TelefonoCliente" placeholder="Telefono"></InputText>
                        <ValidationMessage For="@(() =>clientes.Telefono)" ></ValidationMessage>
                    </div>
                </div>

                <div>
                    <label>Celular:</label>
                    <div class ="input-group mb-3">
                        <InputText type ="tel" @bind-Value="clientes.Celular" class="form-control" aria-describedby="CelularCliente" placeholder="Celular"></InputText>
                        <ValidationMessage For="@(() => clientes.Celular)"></ValidationMessage>
                    </div>
                </div>

                <div>
                    <label>RNC:</label>
                    <div class="input-group mb-3" >
                        <InputText @bind-Value ="clientes.Rnc" class="form-control" aria-describedby="RncCliente" placeholder="RNC"></InputText>
                        <ValidationMessage For="@(() => clientes.Rnc)"></ValidationMessage>
                    </div>
                </div>
                <div>
                    <label>Email:</label>
                    <div class="input-group mb-3">
                        <InputText type ="email" @bind-Value ="clientes.Email" class="form-control" aria-describedby="EmailCliente" placeholder="Correo Electronico"></InputText>
                        <ValidationMessage For="@(() => clientes.Email)"></ValidationMessage>
                    </div>
                </div>
                <div>
                    <label>Dirección:</label>
                    <div class="input-group mb-3">
                        <InputText @bind-Value="clientes.Direccion" class="form-control" aria-describedby="DireccionCliente" placeholder="Direccion"></InputText>
                        <ValidationMessage For="@(() => clientes.Direccion)"></ValidationMessage>
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-center">
                    <div class="btn-group">
                        <button type ="button" class="btn btn-outline-primary" @onclick="Nuevo">Nuevo <i class="oi oi-file" /></button>
                        <button type ="submit" class="btn btn-outline-success">Guardar <i class ="oi oi-document" /></button>
                        <button type="button" class="btn btn-outline-danger" @onclick="Eliminar">Eliminar <i class="oi oi-trash" /></button>
                    </div>
                </div>

            </div>
        </div>

    </EditForm>
</body>


@code 
{
    [Parameter]
    public int ClienteId{get;set;}

    //public string Desde {get; set;}
    //public string Hasta {get; set;}

    public Clientes clientes {get; set;} = new Clientes();

    public string Mensaje { get; set; } = "";

    public string validandoRnc {get; set;} = string.Empty;

    protected override void OnInitialized()
    {
        this.clientes.ClienteId = ClienteId;
        this.Buscar();

        //Desde = DateTime.Now.AddMonths(-1);
        //Hasta = DateTime.Now;
    }

    public void Nuevo()
    {
        this.clientes = new Clientes();
    }

    public void Guardar()
    {
        if(string.IsNullOrWhiteSpace(clientes.Nombre) || 
        string.IsNullOrWhiteSpace(clientes.Telefono) || 
        string.IsNullOrWhiteSpace(clientes.Celular) ||
        string.IsNullOrEmpty(clientes.Rnc) ||
        string.IsNullOrEmpty(clientes.Email) ||
        string.IsNullOrEmpty(clientes.Direccion))
        {
            Mensaje = "Es obligatorio que se rellenen todos los campos";
            return;
        }

        if(ClientesBLL.ExisteDatos(this.clientes) == false)
        {
            return;
        }
        if(ClientesBLL.Guardar(this.clientes))
        {
            this.Nuevo();
        }
        NavigationManager.NavigateTo("/registroClientes");
    }

    public void Eliminar()
    {
        Buscar();
        if(ClientesBLL.Eliminar(this.clientes))
        {
            this.Nuevo();
        }
        NavigationManager.NavigateTo("/registroClientes");
    }

    public void Buscar()
    {
        var clienteEncontrado = ClientesBLL.Buscar(clientes.ClienteId);

        if(clienteEncontrado != null)
        {
            this.clientes = clienteEncontrado;
        }
    }

    public bool Validar()
    {
        return clientes.Nombre != null && clientes.Celular != null && clientes.Email != null && clientes.Rnc != null && clientes.Direccion != null && clientes.Telefono != null;
    }
}